

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 10%;
  border-radius: 50%;
}
.imgcontainer{
  text-align: center;
}
.cancelbtn{
  padding: 14px 20px;
  background-color: #f44336;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
#Submit_button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  }

  input[type="text"], input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
.container {
    padding: 16px;
  }
  
  